<% if current_user %>
  <% if @user_coins.length > 0 %>
    <h3>Your Coins</h3>
    <table class="table table-hover table-dark">
        <% user_coins = [] %>
        <thead>
          <tr>
            <th scope="col" class="no-mobile">Logo</th>
            <th scope="col" class="no-mobile">Market</th>
            <th scope="col" class="large">Coin</th>
            <th scope="col" class="no-mobile">Open</th>
            <th scope="col" class="no-mobile">High</th>
            <th scope="col" class="no-mobile">Low</th>
            <th scope="col">Change</th>
            <th scope="col">Price </th>
          </tr>
        </thead>
        <tbody>
        <% @data["DISPLAY"].each do |k, v| %>
          <tr>
            <td class="no-mobile">
              <img src="<%= @coins.find_by(name: k).imageurl %>" alt="profile_img" width="35px">
            </td>
            <td class="no-mobile"><%= @coins.find_by(name: k).fullname %></td>
            <td class='large'><%= @coins.find_by(name: k).name %></td>
            <td class="no-mobile"><%= v["USD"]["OPENDAY"] %></td>
            <td class="no-mobile"><%= v["USD"]["HIGHDAY"] %></td>
            <td class="no-mobile"><%= v["USD"]["LOWDAY"] %></td>
            <% if v["USD"]["CHANGEPCTDAY"].to_f < 0 %>
              <td class="price"><%=v["USD"]["CHANGEPCTDAY"] %></td>
            <% else %>
              <td class="price">&nbsp<%=v["USD"]["CHANGEPCTDAY"] %></td>
            <% end %>
            <td><%= v["USD"]["PRICE"] %></td>
            <%# if @user.id == current_user.id %>
            <td class="no-mobile"><%= link_to 'Untrack', user_coin_path(@coins.find_by(name: k).id),
                                             method: :delete,
                                             data: { confirm: 'Are you sure?' },
                                             :class => 'btn btn-xs btn-danger' %></td>
            <td class="large"><%= link_to 'Untrack', user_coin_path(@coins.find_by(name: k).id),
                                             method: :delete,
                                             data: { confirm: 'Are you sure?' },
                                             :class => 'btn btn-xs btn-danger' %></td>
             <td class="no-mobile">
               <div class="dropdown show">
                 <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Alerts
                 </a>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                   <a class="dropdown-item" href="#">15% <i class="fas fa-arrow-up"></i></a>
                   <a class="dropdown-item" href="#">25% <i class="fas fa-arrow-up"></i></a>
                   <a class="dropdown-item" href="#">15% <i class="fas fa-arrow-down"></i></a>
                   <a class="dropdown-item" href="#">25% <i class="fas fa-arrow-down"></i></a>
                 </div>
               </div>
             </td>
             <td class='large'>
               <div class="dropdown show">
                 <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                   <a class="dropdown-item" href="#">15% <i class="fas fa-arrow-up"></i></a>
                   <a class="dropdown-item" href="#">25% <i class="fas fa-arrow-up"></i></a>
                   <a class="dropdown-item" href="#">15% <i class="fas fa-arrow-down"></i></a>
                   <a class="dropdown-item" href="#">25% <i class="fas fa-arrow-down"></i></a>
                 </div>
               </div>
             </td>
          </tr>
          <% user_coins << k %>
          <% user_coins << v["USD"]["PRICE"] %>
        <% end %>
        <div class= "hidden" id="user_coins"><%= user_coins.to_s %></div>
        <script>
          (function titleScroller(text) {
            document.title = text;
            setTimeout(function () {
                titleScroller(text.substr(1) + text.substr(0, 1));
          }, 500);
          }(user_coins.innerHTML.replace(/['"$]+/g, '').replace(/[\[,\]]+/g, ' ')));
        </script>
    </tbody>
  </table>
  <% else %>
    <div class="row">
      <div class="text-center col-md-12">
        <h3>Add some coins!</h3>
        <%= link_to "Go Search for some coins", coins_path, class: 'signup-link'%>
      </div>
    </div>
  <% end %>
  <script type="text/javascript">
    $('.price').each(function() {
        if (parseFloat($(this).text()) < 0) {
            $(this).addClass('lowprice');
        }
    });
  </script>
<% else %>
  <h3>You must be logged in to view this page</h3>
<% end %>
